{% extends "base.html" %}

{% block content %}

<title>About</title>

<div class = "container">

    <h3>Retro-Filei was produced using the following software:</h3>
    <h3><a href="https://www.python.org/downloads/release/python-350/" target="_blank"><strong>Python 3.5</strong></a></h3>
        <ul>
            <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
            <li><a href="https://django-bootstrap3.readthedocs.io/en/latest/" target="_blank">Django-Bootstrap3</a></li>
            <li><a href="https://django-filter.readthedocs.io/en/master/" target="_blank">Django-filter</a></li>
            <li><a href="https://django-tables2.readthedocs.io/en/latest/" target="_blank">Django-tables2</a></li>
            <li><a href="https://django-extensions.readthedocs.io/en/latest/" target="_blank">Django-extensions</a></li>
            <li><a href="https://docs.python.org/3/library/venv.html#module-venv" target="_blank">venv</a></li>
            <li><a href="https://matplotlib.org/" target="_blank">matplotlib</a></li>
            <li><a href="http://www.numpy.org/" target="_blank">numpy</a></li>
            <li><a href="https://pandas.pydata.org/" target="_blank">pandas</a></li>
            <li><a href="https://rpy2.readthedocs.io/en/version_2.8.x/" target="_blank">rpy2</a></li>
        </ul>
    
    <h3><a href="https://www.r-project.org/" target="_blank"><strong>R</strong></a></h3>
        <ul>
            <li><a href="https://bioconductor.org/packages/release/bioc/html/ggbio.html" target="_blank">ggbio</a></li>
            <li><a href="https://bioconductor.org/packages/release/bioc/html/GenomicRanges.html" target="_blank">GenomicRanges</a></li>
            <li><a href="https://bioconductor.org/packages/release/bioc/html/IRanges.html" target="_blank">IRanges</a></li>
            <li><a href="https://bioconductor.org/packages/release/bioc/html/karyoploteR.html" target="_blank">karyoploteR</a></li>
            <li><a href="https://www.bioconductor.org/packages/release/bioc/html/mzID.html" target="_blank">mzID</a></li>
            <li><a href="https://bioconductor.org/packages/release/bioc/html/Biostrings.html" target="_blank">Biostrings</a></li>
            <li><a href="https://bioconductor.org/packages/release/bioc/html/msa.html" target="_blank">msa</a></li>
            <li><a href="https://cran.r-project.org/web/packages/ggseqlogo/index.html" target="_blank">ggseqlogo</a></li>
        </ul>
    <br>

    <h4>Retrotransposon data was downloaded from <a href="https://genome.ucsc.edu/cgi-bin/hgTables" target="_blank">UCSC Table Browser.</a></h4>
    
    <p>Retro-Filei was created by Rachael Turner, Mehitabel Owusu, Taimur Zafar and Owen Miller.</p>
    <p>We are a group of <a href="http://www.qmul.ac.uk/postgraduate/taught/coursefinder/courses/121410.html" target="_blank">MSc Bioinformatics</a> students at <a href="http://www.qmul.ac.uk/" target="_blank">Queen Mary University London</a>.</p>

<br><br><br>
</div>
{% endblock content %}
