{% extends "base.html" %}

{% block content %}

<title>Contact Us</title>

<div class="container">
    <br>
    <h3><strong>Visit us at our <a href="https://github.com/rachaellturner/Filei" target="_blank">GitHub</a></strong></h3>
    <br>
    <h4><strong>Email us:</strong></h4>
        <li><strong>Mehitabel Owosu:</strong> m.owosu@se17.qmul.ac.uk</li>
        <li><strong>Owen Miller:</strong> omiller@se17.qmul.ac.uk</li>
        <li><strong>Rachael Turner:</strong> r.l.turner@se17.qmul.ac.uk</li>
        <li><strong>Taimur Zafar:</strong> t.s.zafar@se17.qmul.ac.uk</li>
</div>


{% endblock content %}